<br><br><br><br><br>

<div class="container">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col text-center"> <!-- Añadir "text-center" para centrar el contenido de la columna -->
            <span class="text-dark">Hola {{persona}}!</span>
            <br>
            <a href="/admin/login/logout" class="btn btn-outline-danger btn-sm">Cerrar sesión
                <i class="fas fa-sign-out-alt" style="margin-left: 5px;"></i>
            </a>
        </div>
    </div>
</div>

