/*
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
*/


footer {
    background-color: grey;
}
h1,h2 {
    font-family: 'alfa slab one', cursive;
}
.hero {
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    color: white;
}

.lista-novedades {
    margin: 0;
    padding: 0;
    list-style: none;
}

.lista-novedades li {
    margin: 4px 0;
}
.lista-novedades li a{
    background-color: aliceblue;
    font-family: 'alfa slab one', cursive;
    text-decoration: none;
    font-size: 1.2rem;
    color: gray;
    transition: all .2s ease-in-out;
    display: block;
}

.lista-novedades li a:hover{
    color: black;
    background-color: lavenderblush;
}

.lista-novedades li a img {
    width: 120px;
    height: 50px;
    filter: grayscale();
    transition: all .2s ease-in-out;
    margin-right: 1rem;
    opacity: 0.7;
}

.lista-novedades li a:hover img {
    filter: none;
    margin-right: 1.4rem;
    opacity: 1;
}
.testimonios{
    background-color: lightgrey;
    padding-bottom: 4rem !important;
}
.testimonio{
    text-align: center;
    padding: 50px 20px;
}
.staff {
    background: #efefef;
}
.mapa iframe {
    width: 100%;
    aspect-ratio: 1.2;
}
.html {
    scroll-behavior: smooth;
}
.scroll section {
    scroll-margin-top: 60px;
}


