

.modo {
        margin-top: 50px;
  }

 

.dark{
    background: rgb(4, 24, 27);
}

.dark h1{
    color: white;
}


.dark #modo{
    color: orange;
}

.dark p{
    color: rgb(211, 211, 211);
}
.dark h2{
   
    color:rgb(151, 151, 151);
}



.dark .testimonios{
    background-color: black;
    padding-bottom: 4rem !important;
    border: 4px solid orange;
}

 .dark .lista-novedades li a:hover{
    color: white;
    background-color: black;
}

.dark .form-label{

    color: white;

}

.dark .titulo{

    color:rgb(151, 151, 151);
}

.dark .staff {
    background: rgb(16, 43, 51);
}

.dark .card-text{
    color: black;
}