
h1,
h2{

    font-family:'Open Sans', sans-serif;
    
}

h5{
    font-family: 'Times New Roman', Times, serif;
    
}

#modo{
    color: white;
}




/*footer*/
.seccion-oscura{
    background-color: #18182c;
   
    color:white;

}
.footer-icono{
    height:80px;
    width:80px;
    margin:10px;
    position:relative;
}


.footer-texto{
    font-size:1.5rem;
    padding:20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a{

    width:50px;
    height:50px;
    display:flex;
    align-items:center;
    justify-content: center;
    padding:2px;
    margin:10px;
    border:2px solid white;
    border-radius:50%;
    transition:all 0.2s ease-in;
}

.iconos-redes-sociales i{
    color:white;
    font-size:1.5rem;
    transition:all 0.2s ease-in;
}

.iconos-redes-sociales a:hover{

    background-color: white;
    border:2px solid rgb(6, 43, 99);
}

.iconos-redes-sociales a:hover i{
    color:black;

}

.derechos-de-autor{
    font-size:15px;
    color:#aeaeae;
    padding:20px;
}

/*cierra sección footer*/


/*navbar*/


.nav-format{
    color:black;
}



/*cierra sección navbar*/



.portada{
        height: 400px;
        width:auto;
}

body{
    background-color: rgb(62, 19, 19);
}

.hero{
    background: url(../images/fondoinicio.jpg) no-repeat;
    background-size: cover;
    color:bisque;
    height:50vh;
    min-height: 600px;

}

/*cierra sección principal*/

.lista-novedades{
    margin:0;
    padding:0;
    list-style: none;

}
.lista-novedades li{
    margin:4px 0;
}

.lista-novedades li a{

    background-color:rgb(198, 140, 31);
    font-family:'Roboto Condensed',cursive;
    text-decoration:none;
    font-size:1.2rem;
    color:black;    
    transition: all .2s ease-in-out;
    display:block;
}

.lista-novedades li a:hover{
    color:white;
    background-color:rgb(4, 85, 112);

}

.lista-novedades li a img{

    width:120px;
    height:50px;
    filter:grayscale();
    transition:all .2s ease-in-out;
    margin-right:1rem;
    opacity:0.7;

}

.lista-novedades li a:hover img{

    filter:none;
    margin-right: 1.4rem;
    opacity:1;


}
/*cierra sección novedades*/


/*Inicia seccion testimonios*/

.testimonios{
    background-color: black;
    padding-bottom: 1rem !important;
    box-shadow: 0px 0px 12px rgb(241, 241, 190); 
    border-radius: 8px;
}

.testimonio{
    text-align: center;
    padding:50px 20px;
}

.textTestimonio{
    color:orange;
}
.textInicio{
    color:orange;
}





/*cierra sección testimonios*/

/*sección historia*/

.parrafo-historia{
        font-size:15px;
        color:black;
        font-family: 'Roboto Slab', serif;
        text-align:justify;
}

/*sección nosotros*/

.staff{
    border:2px solid black;
}


.card-body{
    background-color:rgb(208, 127, 35);
    color:black;
}

.card-body:hover{
background-color:rgb(6, 7, 7);
color:white;
}

.card-deck{
    background-color:rgb(192, 191, 191);
}
/*cierra sección nosotros*/


/*seccion conocenos*/

.mapa iframe{
    width:100%;
    height:360px;
}

html{
    scroll-behavior: smooth;
}

.scroll_section{
    scroll-margin-top:95px;
}


.form-control{
    font-family: 'Times New Roman', Times, serif;
    
}

.mensaje {
    color: white;
    font-size:15px;
    background-color:black;
}



.tamaño{
    height:100px;
    width:100px;
    color:white;
}

ul{
    list-style:none;
}



/*Estilo página */

.overlay{
    transition: all 0.2s ease;
    opacity:0; 
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align: center;
}

.overlay p{
    font-size:25px;
    font-weight:bold;
    margin-bottom: 0;
    color:white;

}
.proyecto{
    position:relative;
    margin-bottom: 15px; /*agrega una separacion entre columnas*/
}




.proyecto:hover img{

    opacity:0.2;
}

.proyecto:hover .overlay{
    /*se vuelve más opaco*/
    opacity:1;
}

.overlay .iconos-contenedor{

    display:flex;

}
.overlay i{
    color: white;
    font-size:60px;
    margin:10px;
}

.icono i{
    font-size:50px;
    margin-bottom:35px;
}

.planes{
    margin-bottom:80px;
    
}

.contenedor{
    width:90%;
    max-width:900px;
    margin:auto;
    height:85vh; 
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    background-color: whitesmoke;
    
    
    
}

.tabla{
    width:33%;
    height:550px;
    margin:auto;
    border:1px solid black;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px black;
    padding:60px;
    text-align:center;
    flex-grow:1;
    color:#343759;
    
    
}

.tabla h2{
    font-size:30px;
    margin-bottom:35px;

}

.tabla h3{
    font-size:30px;
    margin-bottom:20px;
}

.tabla p{
    display:block;
    margin-bottom:20px;
}

.boton{
    display:inline-block;
    width:150px;
    padding:12px;
    background:#a5f059;
    text-decoration:none;
    color:#343759;
    border-radius:100px;
    text-align:center;
    font-size:14px;
    font-weight:600;
    margin:auto;
}

.tabla:hover{
    background:#343759;
    color:white;
    transition:.5s all;
    transform: scale(1.1); /*agranda lo que apunte el cursor*/
    cursor:pointer;

}

@media screen and (max-width:1000px) {
    
    .tabla{
        width:45%;
        max-width:none;
        margin-bottom:40px;
        flex-grow:initial;
    }
    
}
@media screen and (max-width:700px) {
    
    .tabla{
        width:45%;
        padding:30px;
    }
    
    .tabla h2{
        margin-top:40px;
    }
}

@media screen and (max-width:550px) {
    
    .tabla{
        width:85%;
        padding:20px;
        
    }
    
}


/*----------css -----------------------*/


#imagen{
    height:350px;
    width:auto;
}
