



<header class="py-3 px-10  d-flex align-items-center justify-content-between">
    <div>

        <h1 class="text-white mt-5">Ecommerce</h1>
    </div>

    
    <nav>
        <ul class="d-flex px-6 mb-2 mt-5">
        <li class="mx-2"> <a class="text-white inline-block" href="#">Plataforma web</a></li>
        <li class="mx-2"><a class="text-white inline-block" href="#">Mercadolibre</a></li>
        <li class="mx-2"> <a class="text-white inline-block" href="#">Mercado full</a></li>
        </ul>
    </nav>

</header>


<p class="ml-2 mr-2 text-white" align="justify">Explora Nuestra Tienda en Línea:

Nuestra tienda en línea está diseñada para ofrecerte una experiencia de compra fluida y emocionante. Aquí encontrarás una amplia gama de cervezas artesanales que varían en estilos y sabores, cada una cuidadosamente elaborada para brindarte una experiencia única.
    
</p>
<div class="container-fluid d-flex align-items-center justify-content-center py-4">
<img src="images/fondoinicio.jpg" alt="" class="img-fluid">



</div>


