

<br>
<h1 class="text-white mt-5">Marketplace</h1>
<p class="ml-2 mr-2 text-white" align="justify">¡Te damos la bienvenida a la tienda oficial de Homero's Cerveza en el marketplace! Aquí, hemos unido fuerzas con una plataforma líder para llevar la experiencia de disfrutar nuestra cerveza artesanal directamente a tu puerta. Explora una amplia variedad de estilos y sabores, y descubre por qué Homero's Cerveza es la elección preferida de los amantes de la cerveza.
    
</p>

<section class="planes">
<h2 align="center" class="text-white mt-5">Suscripciones</h2>
<br><br>
    <div class="contenedor">
        <div class="tabla">
            <h2>Inicial cervecero </h2>
            <h3>Descuento del 5% mensual y voucher en cerveza de litro</h3>
            <div class="icono">
                <i class="bi bi-wallet"></i>
            </div>
            <br>
            <h3>Compras superiores a $20.000</h3>
            <p>Promocion inicio de clientes</p>
            <a href="" class="boton">Suscríbete</a>
        </div>
        <div class="tabla">
            <h2>Comercial experto cervecero</h2>
            <h3>Descuento del 15% mensual</h3>
            <div class="icono">
                <i class="bi bi-wallet"></i>
            </div> <br>

            <h3>Compras superiores a $50.000</h3>
            <p>Ofertas por compras en volumen</p>
            <a href="" class="boton">Suscríbete</a>
        </div>
        

    </div>




</section>