<br>
<h1 class="text-white mt-5">Mayorista</h1>
<p class="ml-2 mr-2 text-white" align="justify">Si está interesado en ofrecer Homero's Cerveza en su establecimiento u operación mayorista, simplemente póngase en contacto con nuestro equipo de ventas mayoristas. Estaremos encantados de discutir sus necesidades y proporcionarle toda la información que necesite para comenzar a ofrecer nuestras cervezas únicas y sabrosas a sus clientes
    
</p>

<div class="container-fluid py-4">
    <div class="row justify-content-center ">


        <div class="proyecto col-lg-4 col-md-6 col-sm-12">


            <img src="images/cerveceria 3.jpg" alt="" class="img-fluid">

            <div class="overlay">
                <p>Sector Mayorista cerveza tirada</p>
                <div class="iconos-contenedor">
                    <a href="#">
                        <i class="bi bi-currency-dollar"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-menu-button"></i>
                    </a>
                </div>

            </div>


        </div>
        <div class="proyecto col-lg-4 col-md-6 col-sm-12">
            <img src="images/cerveceria 4.jpg" alt="" class="img-fluid">
            <div class="overlay">
                <p>Sector Mayorista botellas de litro</p>
                <div class="iconos-contenedor">
                    <a href="#">
                        <i class="bi bi-currency-dollar"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-menu-button"></i>
                    </a>
                </div>

            </div>

        </div>
        <div class="proyecto col-lg-4 col-md-6 col-sm-12">
            <img src="images/cerveceria 5.jpg" alt=" " class="img-fluid">
            <div class="overlay">
                <p>Sector mayorista botellas 500ml</p>
                <div class="iconos-contenedor">
                    <a href="#">
                        <i class="bi bi-currency-dollar"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-menu-button"></i>
                    </a>
                </div>

            </div>

        </div>
        <div class="proyecto col-lg-4 col-md-6 col-sm-12">


            <img src="images/cerveceria 6.jpg" alt="" class="img-fluid">

            <div class="overlay">
                <p>Sector mayorista mix de articulos</p>
                <div class="iconos-contenedor">
                    <a href="#">
                        <i class="bi bi-currency-dollar"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-menu-button"></i>
                    </a>
                </div>

            </div>


        </div>
        <div class="proyecto col-lg-4 col-md-6 col-sm-12">
            <img src="images/cerveceria 1.jpg" alt="" class="img-fluid">
            <div class="overlay">
                <p>Sector mayorista ventas corporativas</p>
                <div class="iconos-contenedor">
                    <a href="#">
                        <i class="bi bi-currency-dollar"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-menu-button"></i>
                    </a>
                </div>

            </div>

        </div>
        <div class="proyecto col-lg-4 col-md-6 col-sm-12">
            <img src="images/cerveceria 2.jpg" alt=" " class="img-fluid">
            <div class="overlay">
                <p>Sector Mayorista internacional</p>
                <div class="iconos-contenedor">
                    <a href="#">
                        <i class="bi bi-currency-dollar"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-menu-button"></i>
                    </a>
                </div>

            </div>

        </div>



    </div>
    <!--cierre row-->
</div>
<!--cierre div contenedor-->

