h1{
    color: red; /*comentario en css - color de la tipografia*/
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellow;
    text-align: center;
    text-transform: uppercase;
}

h2{
    color: blue;
    font-style: italic;

}


p{
    color: green;
}

.destacados{
    font-size: 20px;
    font-weight: bold;
}


